

.themeLight {
    color: #111;
    font-family: sans-serif;
    padding: .25rem 0;
}

.player {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.info,
.bars {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.info {
    line-height: 1rem;
    height: 1rem;
}
